server {
    listen 80;
    server_name localhost;
    root {{ box_webpath }}/public;
{% if "passenger" in box_packages %}
    passenger_enabled on;
    passenger_user {{ box_user }};
    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
      expires 1y;
      add_header Cache-Control public;
      add_header Last-Modified "";
      add_header ETag "";
      break;
  }
{% endif %}
}
